@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Lato";
  background-color: #10253C;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

/* 
zindexs: 
header responsive list: 1120;
otherbtns-appear: 1119;
*/